conformer
deepspeed
diffusers
gdown
modelscope
hydra-core
HyperPyYAML
inflect
librosa
pyarrow
lightning
matplotlib
omegaconf
openai-whisper
rich
soundfile
tensorboard
tensorrt-cu12
tensorrt-cu12-bindings
tensorrt-cu12-libs
wget
WeTextProcessing
onnxruntime-gpu